$fonts: 'Leelawadee UI', 'Arial' ,'Comic Sans MS';


body{
    background-color: #76F9C0;
    font-family: 'Leelawadee UI, Arial, Comic Sans MS';
}
.center-box{
    min-width: 80%;
    width: 80%;
    height: 1000px;
    left: 50%;
    position: relative;
    transform: translate(-50%);
}
.text-frame{
    height: 900px;
    width: 100%;
    min-width: 100%;
    position: fixed;
    left: 50%;
    transform: translate(-50%);

    bottom: 0;

}
.title-area{
    position: relative;
    padding-top: 200px;
    height: 350px;
    display: grid;
    grid-template-rows: 300px auto;
    
}
.title{
    min-width: 100%;
    width: 100%;
    font-family: $fonts;
    font-size: 247px;
    color: #707070;
    text-align: center;
}
.title-text{
    height: 100px;
    width: 100%;
    text-align: center;
    font-size: 100px;
    font-family: $fonts;
    font-weight: 100;
    color: #707070;
    
}
.question-box{
    grid-area: question;
    height: 100px;
    width: 100%;
    text-align: center;
}
.question-box h1{
    font-family: $fonts;
    color: #707070;
    font-size: 50px;
    font-weight: 50;
}
.question-box button{
    padding: 10px;
    border-radius: 50px;
    border-color: #707070;
    font-family: $fonts;
    font-size: 30px;
    cursor: pointer; 
}


h1{
    font-family: 'Leelawadee UI', 'Arial' ,'Comic Sans MS';
}
.button-box{
    display: inline-grid;
    grid-area: button;
}
